:root {
    /* Colors */
    --primary: #0E77E4;
    --secondary: #eee;
    --accent: #FF006D;
    --success: #56BF00;
    --danger: #F73823;
    --warning: #FFCA00;
    --dark: #111;
    --light: #fff;
    --body-text-color: rgba(0, 0, 0, 0.78)
}

html,
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    color: var(--body-text-color);
    line-height: 1.8em;
}

h1 {
    line-height: 1.45em;
    color: var(--dark);
}

div.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 4fr 92fr 4fr;
    grid-template-rows: 64px auto 64px;
    grid-template-areas: "header header header header" "sidenav . main ." "footer footer footer footer";
    grid-gap: 0 20px;
    align-items: stretch;
}

header {
    background: var(--primary);
    padding: 20px;
    grid-area: header;
    color: var(--light);
}

.sidenav {
    background: var(--secondary);
    padding: 20px;
    grid-area: sidenav;
}

.main {
    padding: 20px;
    grid-area: main;
    max-width: 900px;
    justify-self: center;
}

.footer {
    background: var(--dark);
    color: var(--light);
    padding: 20px 20px 0;
    grid-area: footer;
}

.video {
    margin: 2em 0;
}

@media all and ( max-width: 799px) {
    div.wrapper {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 64px auto auto 64px;
        grid-template-areas: "header" "sidenav" "main" "footer";
    }
    .main {
        max-width: 80%;
    }
}